@using Application.ViewModels.Reportes
@model ReporteViewModel

@{
    ViewData["Title"] = "Detalles";
    <link rel="stylesheet" href="~/css/responsive.css" />
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="card">
            <div class="card-body">

                @if (Model != null)
                {
                    <p><strong>Titulo: </strong>@Model.Titulo</p>
                    <p><strong>Descripción: </strong>@Model.Descripcion</p>
                    <p><strong>Estado: </strong>@Model.Estado</p>
                    <p><strong>Fecha de creación: </strong>@Model.FechaHora </p>

                    @if (Model.Comentario != null && Model.Estado != "Pendiente")
                    {
                        <P><strong>Comentario: </strong>@Model.Comentario</P>
                    }
                    else if (Model.Estado == "Pendiente")
                    {
                        <p><strong>- Este reporte sigue pendiente -</strong></p>
                    }
                    else
                    {
                        <p><strong>Sin comentario</strong></p>
                    }

                    <a class="btn btn-danger" asp-action="Index">Volver</a>
                }
                else
                {
                    <h2>No se encontró el Reporte</h2>
                }
            </div>
        </div>
    </div>
</body>
