@using Application.ViewModels.Reportes
@model ReporteViewModel

@{
    ViewData["Title"] = "Detalles";
    <link rel="stylesheet" href="~/css/responsive.css" />
}

<head>
    <link rel="stylesheet" href="~/css/form.css">
</head>

<body>
    <div class="main-wrapper">
            <div class="card">
                <div class="card-body">

                    @if (Model != null)
                    {
                        <p>Titulo: @Model.Titulo</p>
                        <p>Descripción: @Model.Descripcion</p>
                        <p>Estado: @Model.Estado</p>
                        <p>Fecha de creación: @Model.FechaHora </p>

                        @if (Model.Comentario != null && Model.Comentario != "Pendiente")
                        {
                            <P>Comentario: @Model.Comentario</P>
                        }
                        else if (Model.Estado == "Pendiente")
                        {
                            <p>Este reporte sigue pendiente</p>
                        }
                        else
                        {
                            <p><strong>No hay comentario</strong></p>
                        }

                        <a class="btn btn-danger" asp-action="Index">Volver</a>
                    }
                    else
                    {
                        <h2>No se encontró el Reporte</h2>
                    }
                </div>
            </div>
    </div>
</body>
