@using Application.ViewModels.Asignaciones
@model AsignacionesDetailsViewModel
@{
    ViewData["Title"] = "Borrar";
}

<html>
    <head>
        <link rel="stylesheet" href="~/css/deleteAsignacion.css" />
    </head>

    <body>
        <div class="main-wrapper">
            <div class="card">
                @if (Model != null)
                {
                    <div class="card-header">
                        <h5>¿Seguro que quieres borrar esta asignación?</h5>
                    </div>
                    <div class="card-body">
                        <div class="warning-text">
                            Esta acción no se puede deshacer. La asignación se eliminará permanentemente.
                        </div>

                        <p><strong>Ruta:</strong> @Model.NombreRuta</p>
                        <p><strong>Camión:</strong> @Model.PlacaCamion</p>
                        <p><strong>Chofer:</strong> @Model.NombreChofer - @Model.CedulaChofer<p>
                        @if (Model.DiaInicio != null || Model.DiaFin != null)
                        {
                            @if (Model.DiaFin.Equals(Model.DiaInicio))
                            {
                                <p><strong>Horario:</strong>@Model.HoraSalida - @Model.HoraLlegada - @Model.DiaInicio</p>
                            }
                            else
                            {
                                <p><strong>Horario:</strong> @Model.HoraSalida - @Model.HoraLlegada - @Model.DiaInicio a @Model.DiaFin</p>
                            }
                        }
                        else
                        {
                            <p><strong>Horario: </strong></p>
                        }

                        <form asp-controller="Asignaciones" asp-action="DeleteAsignPost" method="post">
                            <input type="hidden" name="id" value="@Model.AsignacionId" />
                            <div class="form-buttons">
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                                <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <div class="no-data">
                            <h2>No se encontró la asignación</h2>
                            <p>La asignación que intenta eliminar no existe o ya fue eliminada.</p>
                            <a class="btn btn-warning" asp-action="Index">Volver a la lista</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </body>
</html>
