@using Application.ViewModels.Asignaciones
@model AsignacionesDetailsViewModel

@{
    ViewData["Title"] = "Borrar";
}

<head>
    <style>
        body {
        background-color: #f3e3b2;
        }

        .card{
        border: 1px solid black;
        margin-top: 100px;
        width: 400px;
        justify-self: center;
        }

        .footer {
        margin-top: 210px;
        }
    </style>
</head>

<body>
    <div class="card">

        @if (Model != null)
        {
                <div class="card-header">
                    <hS>¿Seguro que quieres borrar esta asignación?</hS>
                </div>
                <div class="card-body">

                    <p>Ruta: @Model.NombreRuta</p>
                    @if (Model.DiaFin.Equals(Model.DiaInicio))
                    {
                        <p>Horario: @Model.HoraSalida - @Model.HoraLlegada - @Model.DiaInicio</p>
                    }
                    else
                    {
                        <p>Horario: @Model.HoraSalida - @Model.HoraLlegada - @Model.DiaInicio a @Model.DiaFin</p>
                    }
                    <p>Camion: @Model.PlacaCamion</p>
                    <p>Chofer: @Model.NombreChofer - @Model.CedulaChofer</p>

                    <form asp-controller="Asignaciones" asp-action="DeleteAsignPost" method="post">

                        <input type="hidden" name="id" value="@Model.AsignacionId" />
                        <button class="btn btn-danger" type="submit">Eliminar</button>
                        <a class="btn btn-warning" asp-action="Index">Cancelar</a>
                    </form>
                </div>
        }
        else
        {
            <div class="card-body">
                <h2>No se encontró el reporte</h2>
            </div>
        }
    </div>
</body>