@model List<Application.ViewModels.Choferes.ChoferViewModel>

@{
    ViewData["Title"] = "Choferes";
}

<head>
    <link rel="stylesheet" href="~/css/lista.css" />
</head>

<div class="crearbtn">
    <a class="btn btn-primary" asp-controller="Choferes" asp-action="CreateChofer">Nuevo Chofer</a>
</div>

<body>
    <div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @try
            {
                if (Model != null)
                {
                    @foreach (var obj in Model)
                    {
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <p><strong>Nombre:</strong> @obj.Nombre</p>
                                    <p><strong>Cédula:</strong> @obj.Cedula</p>

                                    <div class="form-btn">
                                        <a name="id" class="btn btn-warning" asp-action="EditChofer" asp-route-id="@obj.ChoferId">Editar</a>
                                        <a name="id" class="btn btn-danger" asp-action="DeleteChofer" asp-route-id="@obj.ChoferId">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2>No se encontraron choferes</h2>
                }
            }
            catch (Exception ex)
            {
                <h2>Error: @ex</h2>
            }
        </div>
    </div>
</body>